div {
    height: 200px;
    width: 200px;
}

.top-container {
    background-color: blue;
    border: 10px black solid;
    padding: 20px;
}

.middle-container {
    background-color: red;
    border: 20px black solid;
    top: 260px;
    left: 260px;
    margin-left: 260px;
}

.bottom-container {
    background-color: yellow;
    border: 10px black solid;
    margin-left: 500px;
}